[submodule "pack/syntax/start/vim-uefi"]
	path = pack/syntax/start/vim-uefi
	url = https://github.com/aphroteus/vim-uefi.git
[submodule "pack/ui/start/vim-airline"]
	path = pack/ui/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/ui/start/vim-monokai"]
	path = pack/ui/start/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
[submodule "pack/util/start/ack.vim"]
	path = pack/util/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/util/start/ctrlp.vim"]
	path = pack/util/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/tpope/start/vim-fugitive"]
	path = pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/rust-lang/start/rust.vim"]
	path = pack/rust-lang/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "pack/util/start/tagbar"]
	path = pack/util/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "pack/tpope/start/vim-commentary"]
	path = pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
